h1 {
    color: rgb(0, 0, 0);
    background-color: #db7ed47a;
    height: 50px;
    width: 150px;
}
h4 {
    color: rgb(0, 38, 255);
}
.text1 {
    border: 5px greenyellow solid;
    border-radius: 5px 50px;
}